<h1>Vote on <%= @poll.name %></h1>

<!-- Latest Sortable -->
<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>

<%= form_with(model: [@poll, @voter], url: poll_voters_path, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :name, "Your Name" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <h2>Your Choices</h2>
  <div id="choice-list" class="list-group">

    <% @poll.poll_choices.each_with_index do |choice, index| %>
      <div class="list-item items-center justify-between p-4 rounded-lg border border-gray-300 bg-white shadow hover:bg-gray-100">

        <%= form.label "Rank" %>:
        <%= form.hidden_field "choices[#{choice.id}]",
                              name: "choices[#{choice.id}]",
                              class: "rank-input",
                              min: 1,
                              max: @poll.poll_choices.count,
                              value: index + 1,
                              readonly: true %>
        <span class="input-label"><%= index + 1 %></span> <%= choice.name %>
      </div>
    <% end %>
  </div>

  <div class="actions mt-6">
    <%= form.submit "Submit Vote", class: "btn btn-primary bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600" %>
    <a href="<%= poll_path(@poll) %>" class="btn btn-secondary bg-amber-500 text-white px-4 py-2 rounded-lg hover:bg-amber-600">Just let me see results</a>
  </div>
<% end %>

<script>

  var el = document.getElementById("choice-list")
  Sortable.create(el, {
      animation: 150,
      onEnd: function () {
          const items = el.querySelectorAll(".list-item");
          items.forEach((item, index) => {
              const rankInput = item.querySelector(".rank-input");
              if (rankInput) {
                  rankInput.value = index + 1;
              }
              const inputLabel = item.querySelector(".input-label");
              if (inputLabel){
                  inputLabel.textContent = index + 1;
              }
          });
      }
  });

  document.addEventListener("input", (event) => {
    if (event.target.classList.contains("rank-input")) {
      const inputs = document.querySelectorAll(".rank-input");
      const chosenRanks = new Set();

      // Highlight duplicates
      inputs.forEach(input => {
        const value = input.value;
        if (value && chosenRanks.has(value)) {
          input.setCustomValidity("This rank is already chosen. Please choose a unique rank.");
        } else {
          input.setCustomValidity("");
          chosenRanks.add(value);
        }
      });
    }
  });
</script>