<h1>Ballot: <%= @poll.name %></h1>

<hr>

<h2>Voting Results</h2>
<h3>Winner:
<b><%= @current_winner[:choice].name %></b>
</h3>
<hr>
<h2>Share this Poll:</h2>
URL: <%= link_to share_poll_url(@poll), share_poll_url(@poll) %>
<button id="copy-button" class="bg-blue-500 text-white px-1 py-0.5 text-[10px] rounded-md">Copy</button>
<span id="copy-success" class="text-success"></span>
<hr>
<br>
<ul>
  <% @results.each do |result| %>
  <div class="border border-black border-solid p-4">
    <h3>Choice: <%= result[:poll_choice].name %></h3>
    <% result[:voter_choices].each do |voter_choice| %>
    <p><%= voter_choice.voter.name %> <%= voter_choice.rank %></p>
    <% end %>
  </div>
  <% end %>
</ul>

<hr>


<hr>

<h2>Audit log:</h2>
<% @iterations.each_with_index do |iteration,index| %>
  <div>
    <p>Audit Step <%= index %></p>
    <% iteration.each do |choice| %>
      Choice: <%= choice[:choice].name %>, score: <%= choice[:vote_count] %>
    <% end %>
  </div>
  <hr>

<% end %>


<script>
    document.getElementById("copy-button").addEventListener("click", function () {
        // Define the link you want to copy
        const linkToCopy = "<%= share_poll_url(@poll) %>";

        // Use Clipboard API to copy the link
        navigator.clipboard.writeText(linkToCopy).then(() => {
            const el = document.getElementById("copy-success");
            el.textContent = "ðŸ‘";
            // Make it visible
            el.style.transition = "none";
            el.style.opacity = 1;

            void el.offsetWidth;


            el.style.transition = "opacity 1s"; // Add a fade-out transition
            el.style.opacity = 0; // Make it fade out
        }).catch((err) => {
            el.textContent = "ðŸ‘Ž";
            // Make it visible
            el.style.transition = "none";
            el.style.opacity = 1;

            void el.offsetWidth;


            el.style.transition = "opacity 1s"; // Add a fade-out transition
            el.style.opacity = 0; // Make it fade out
            console.error("Failed to copy text: ", err);
        });

    });
</script>