<h1><%= @poll.name %></h1>

<h2>Poll Results</h2>
<h3>Current Winner:</h3>
<div>
  <b><%= @current_winner[:choice].name %></b>
</div>
<ul>
  <% @results.each do |result| %>
  <div>
    <h3><%= result[:poll_choice].name %></h3>
    <% result[:voter_choices].each do |voter_choice| %>
    <p><%= voter_choice.voter.name %> <%= voter_choice.rank %></p>
    <% end %>
  </div>
  <% end %>
</ul>

<h2>Share this Poll:</h2>
<p>URL: <%= link_to share_poll_url(@poll), share_poll_url(@poll) %></p>

<h2>Audit log:</h2>
<% @iterations.each_with_index do |iteration,index| %>
  <div>
    <p>Audit Step <%= index %></p>
    <% iteration.each do |choice| %>
      Choice: <%= choice[:choice].name %>, score: <%= choice[:vote_count] %>
    <% end %>
  </div>
<% end %>